{
  "$schema": "https://json.schemastore.org/swcrc",
  "minify": true,
  "module": {
    "type": "es6"
  },
  "jsc": {
    "externalHelpers": false,
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "transform": {
      "react": {
        "runtime": "automatic",
        "refresh": true
      }
    },
    "target": "es2015",
    // Requires v1.2.50 or upper and requires target to be es2016 or upper.
    "keepClassNames": false
  },
  "isModule": true
}
